@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FYPM.Models.ViewModel.MessageViewModel



<h2>Send SMS</h2>

@using (Html.BeginForm("SendSms", "Sms", FormMethod.Post))
{
    <div>
        <label for="to">To:</label>
        <input type="text" name="to" id="to" />
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
}
