@model List<FYPM.Models.ViewModel.ProjectViewModel>
@{
    ViewBag.Title = "StudentProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card p-3 mt-3">
    <div class="card-title d-flex flex-wrap justify-content-between align-items-center mb-0">
        <h3 class="card-label">
            Projects
        </h3>
    </div>
    <div class="card-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="wrapper wrapper-content table-responsive">
                                <table class="table cstm_table table-hover table-striped" id="mttable">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Project Id</th>
                                            <th>Project Description</th>
                                            <th>Total Marks</th>


                                        </tr>
                                    </thead>
                                    <tbody id="table_body" class="scrollable">
                                        @foreach (var projectDetail in Model)
                                        {
                                            <tr>
                                                <td>@projectDetail.Title</td>
                                                <td>@projectDetail.ProjectId</td>
                                                <td>
                                                    <a href="/Project/DownloadDocuments?projectId=@projectDetail.ProjectId" target="_blank">Project File</a>
                                                </td>
                                                <td>100</td>


                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


sss