

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Final Year Project Management System<br />
        Lahore, Pakistan<br />
        <abbr title="Phone">Phone:</abbr>
       03064387072
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:mc210401279fsu@vu.edu.com">mc210401279fsu@vu.edu.com</a><br />
  
    </address>

</main>