@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f2f2f2;
    }

    .container {
        text-align: justify-all;
        margin-top: 30px;
    }

    .form-group {
        background: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 5px #888888;
    }

    .form-label {
        font-weight: bold;
    }

    .bold-label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    select.form-control,
    input.form-control {
        background: #f0f0f0;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }

   select.form-control:not([size]):not([multiple]) {
       height: calc(2.55rem + 2px) !important;
   }
</style>

<body>
    <div class="container mt-5">
        <h1 style="font-family: 'Arial', sans-serif; text-align: center;">Final Year Project Management System</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form id="account_form" class="row g-3">
                            <div class="container">
                                <div class="col-md-12 mb-2">
                                    <a Class="btn-sm btn-warning" href="/Home/Login">
                                        Already have account? Click here to login!
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-flex">
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="register_firstname">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputPassword4" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="register_lastname">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="inputAddress" class="form-label">Email</label>
                                        <input type="email" id="register_email" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="bold-label asterisk">User Type</label>
                                        <select class="form-control" id="register_usertype">
                                            <option value="1">Admin</option>
                                            <option value="2">Supervisor</option>
                                            <option value="3">Student</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label class="bold-label asterisk">Password</label>
                                        <input type="password" id="register_password" class="form-control">
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <button id="btn_register" type="button" class="btn btn-warning btn-block">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        $("#btn_register").click(function () {
            var FirstName = $("#register_firstname").val();
            var LastName = $("#register_lastname").val();
            var Email = $("#register_email").val();
            var Password = $("#register_password").val();
            var UserType = $("#register_usertype").val();


            if (!FirstName) {
                alert("Please enter First Name");
                return;
            }
            if (!LastName) {
                alert("Please enter Last Name");
                return;
            }
            if (!Email) {
                alert("Please enter Email");
                return;
            }

            if (!Password) {
                alert("Please enter Password");
                return;
            }

            $.ajax({
                url: '/Home/Register',
                method: 'post',
                traditional: true,
                data: {
                    'FirstName': FirstName,
                    'LastName': LastName,
                    'Password': Password,
                    'Email': Email,
                    /* 'Address': Address,*/
                    'UserTypeId': UserType

                },
                success: Registersuccess
            });
        });

        function Registersuccess(response) {
            if (response == "1") {
                window.location.href = "/Home/Login";
            }
            if (response == "-1") {
                alert("Invalid Email Address");
                return;
            }
            if (response == "-2") {
                alert("Please provide strong password");
                return;
            }
            if (response == "-3") {
                alert("User already exist. Please provide unique value");
                return;
            }
        }

    </script>
</body>

