@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f2f2f2;
    }

    .container {
        text-align: justify-all;
        margin-top: 30px;
    }

    .form-group {
        background: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 5px #888888;
    }

    .form-label {
        font-weight: bold;
    }
    .bold-label {
        font-weight: bold;
    }
    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    select.form-control,
    input.form-control {
        background: #f0f0f0;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }
</style>

<body>
    <div class="container mt-5">
        <h1 style="font-family: 'Arial', sans-serif; text-align: center;">Final Year Project Management System</h1>
    </div>
    <form id="account_form" class="row g-3">

        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Email</label>
            <input type="email" id="login_email" class="form-control">
        </div>
        <div class="col-12">
            <label class="bold-label asterisk">User Type</label>
            <select class="form-control" id="login_usertype">
                <option value="1">Admin</option>
                <option value="2">Supervisor</option>
                <option value="3">Student</option>
            </select>
        </div>
        @*<div hidden id="studentId" class="form-group">
            <label class="bold-label asterisk">Student Id</label>
            <input type="text" class="form-control" id="stid">
        </div>*@
        @*<div class="col-12">
            <label for="login_id" class="form-label">User Id</label>
            <input type="text" class="form-control" id="login_id">
        </div>*@
        <div class="col-12">
            <label class="bold-label asterisk">Password</label>
            <input type="password" id="login_password" class="form-control" textMode="Password">
        </div>
        @*<div class="col-12">
            <label class="bold-label asterisk">Skype Name</label>
            <input type="text" id="login_skypeName" class="form-control">
        </div>*@
        @*<div class="form-group">
            <label class="bold-label" for="UploadDocument">Upload Documents:</label>
            <input type="file" id="UploadDocument" class="form-control-file" multiple>
        </div>*@
        <br />
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">Check me out</label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        ///// login click
        $("#btn_login").click(function () {
            var FirstName = $("#login_first_name").val();
            var LastName = $("#login_last_name").val();
            var Email = $("#login_email").val();
            var Password = $("#login_password").val();
            var UserType = $("#login_usertype").val();
            

            if (!FirstName) {
                alert("Please enter First Name");
                return;
            }
            if (!LastName) {
                alert("Please enter Last Name");
                return;
            }
            if (!Email) {
                alert("Please enter Email");
                return;
            }
            //if (!StudentId) {
            //    alert("Please enter User Id");
            //    return;
            //}
            //if (!Address) {
            //    alert("Please enter Address");
            //    return;
            //}

            if (!Password) {
                alert("Please enter Password");
                return;
            }
            //if (!SkypeName) {
            //    alert("Please enter SkypeName");
            //    return;
            //}

            $.ajax({
                url: '/Home/Register',
                method: 'post',
                traditional: true,
                data: {
                    'FirstName': FirstName,
                    'LastName': LastName,
                    'Password': Password,
                    'Email': Email,
                   /* 'Address': Address,*/
                    'UserTypeId': UserType
                   
                },
                success: Registersuccess
            });
        });

        function Registersuccess(response) {
            if (response == "1") {
                window.location.href = "/Home/Login";
            }
            if (response == "-1") {
                alert("Invalid Email Address");
                return;
            }
            if (response == "-2") {
                alert("Please provide strong password");
                return;
            }
            if (response == "-3") {
                alert("User already exist. Please provide unique value");
                return;
            }
        }



        //$("#login_usertype").change(function () {
        //    var UserType = $(this).val();
        //    if (UserType == "3") {
        //        $("#studentId").show();
        //    } else {
        //        $("#studentId").hide();
        //    }
        //});

    </script>
</body>

